<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART GENERATOR</title>
</head>
<body>
    <form action="/ascii-art" method="post">
        <label for="text">Enter a text</label>
        <input type="text"  id="text"
            name="text" placeholder="enter the text you want to be transformed">
        <label for="banner" name="banner">Choose a Style</label>
        <select name="banner" id="banner">
            <option value="disabledselect">choose the style you want</option>
            <option value="standard.txt">Standa</option>
            <option value="thinkertoy.txt">Thinkertoy</option>
            <option value="shadow.txt">Shadow</option>
        </select>
         <br><br>

        <button type="submit">Generate</button>
    </form>
</body>
</html>