<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AsciiWeb</title>
</head>
<body>
   <form action="/ascii" method="POST">
    <input type="text" name="text">

    <select name="banner">
        <option value="" selected disabled>choose a banner style</option>
        <option value="standard.txt">Standard</option>
        <option value="shadow.txt">Shadow</option>
        <option value="thinkertoy.txt">Thinkertoy</option>
    </select>

    <button type="submit">submit</button>
</form>

<pre>{{.Result}}</pre>
<pre>{{.Error}}</pre>
    
</body>
</html>